<div class="title-dialog" mat-dialog-title>
    <span>Test des paramètres d'envoi d'e-mail</span>
    <mat-icon class="no-select" style="margin-top: 4px !important;">settings</mat-icon>
</div>

<mat-dialog-content class="content-dialog">
    <div class="data-category-edit">
        <span class="data-category-title">Adresse e-mail de réception d'un e-mail automatique<span class="required-field">*</span></span>

        <input class="data-category-input"
               placeholder="Adresse e-mail de test..."
               type="text"
               maxlength=100
               [(ngModel)]="receiverAddressTestSendingMail">
    </div>

    <div style="text-align: right">
        <span class="required-field" style="font-family: 'Roboto Light', 'sans-serif'; font-size: 0.71em;">*champs requis</span>
    </div>
</mat-dialog-content>


<mat-dialog-actions class="action-dialog">
    <button mat-raised-button class="button-blue button-disabled" [disabled]="isTestingMail" (click)="testSendingMail()">Envoyer un e-mail</button>
    <button mat-raised-button class="button-black button-disabled" style="width: 100px" [disabled]="isTestingMail" (click)="closeDialog()">Retour</button>
    <mat-spinner style="margin-left: 10px;" *ngIf="isTestingMail" [diameter]="28"></mat-spinner>
</mat-dialog-actions>
